* {
    box-sizing: border-box;
}

.div1 {
    background-color: rgb(205, 21, 82);
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 50px;
    float: left;
}

.div2 {
    padding: 20px;
    margin: 10px;
    width: 23%;
    height: 250px;
    float: left;
}

.div3 {
    padding: 20px;
    margin: 10px;
    width: 23%;
    height: 250px;
    float: left;
}

.div4 {
    background-color: rgb(205, 21, 82);
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 50px;
    float: left;
}
@media screen and (min-width: 400px) {
    .div {
        display: block;
    }
}

@media screen and (max-width: 1286px) {
    .div {
        display: block;
    }
}